
/***********************
Navbar
***********************/
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 80px;
    text-decoration: none;
    z-index: 1;
    position: fixed;
}
.nav-container {
    display: flex;
    height: 80px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
}

.nav-list{  
    display: flex;
    gap: 100px;
    list-style: none;
    align-items: center;
    height: 80px;
    margin: 0 50px;
    
}

.link-navbar{
    text-decoration: none;
    font-size: 22px;
}
.my-logo{
    text-decoration: none;
    margin: 0 50px;
}

.link-navbar:hover,.my-logo:hover {
    color: white;
}
/**********************
Website
**********************/
* {
  margin: 0;
  padding: 0;
  color: goldenrod;
  font-family: sans-serif;
  background-color: #1a1a1a;
  line-height: 1;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  margin:0;
  height: 100vh;
}
/***********************
Home 
***********************/
/* 
.homepage{
  padding: 78px 0 154px 0;
}
*/
.home-container {
  max-width: 1720px;
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 100px;
  height: 100vh;
}

.heading-description{
  font-size: 70px;
  line-height: 1;
  margin-left: 125px;
  letter-spacing: -4px;
  margin-bottom: 16px;
  color: white;
}
.home-description{
  font-size: 35px;
  margin-left: 125px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: white;
}

.hexagon-container{
  margin-right: 250px;
}
/***********************
See more link
***********************/
.home-link-about:link {
  text-decoration: none;
  font-size: 20px;
  /* background-color: black; */
  color: goldenrod;
  margin-left: 125px;
  width: 100%;
}
.home-link-about:hover {
  color: white;
}

/***********************
About
***********************/

.about-container{
  display: flex;
  max-width: 1720px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.about-heading{
  align-self: center;
  align-content: center;
  justify-content: center;
  font-size: 70px;
  margin-bottom: 100px;
}

.about-description {
  align-self: center;
  justify-content: center;
}

.greeting-about{
  color: goldenrod;
  margin-bottom: 16px;
  align-self: center;
  align-content: center;
}

.about-text {
  font-size: 35px;
  margin-left: 125px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: white;
  
}

/***********************
Resume download
***********************/
.my-resume:link {
  text-decoration: none;
  font-size: 25px;
  /* background-color: goldenrod; */
  color: goldenrod;
  margin-left: 125px;
  width: 100%;
}
.my-resume:hover {
  color: white;
}


/***********************
Project
***********************/
.project-container{
  display: flex;
  max-width: 1720px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.greeting-project {
  color: goldenrod;
  margin-bottom: 16px;
  text-decoration: none;
}

.project-heading{
  align-self: center;
  align-content: center;
  justify-content: center;
  font-size: 70px;
  margin-bottom: 100px;
  text-decoration: none;
}

.project-description {
  align-self: center;
  justify-content: center;
}

.project-text {
  font-size: 35px;
  margin-left: 125px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: white;
  margin-bottom: 100px;
}

.python-projects-container {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  gap: 100px;
}

.project-image{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  gap: 100px;
}


/***********************
Contact configuration
***********************/
.contact-container{
  display: flex;
  max-width: 1720px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-decoration: none;
}

.greeting-contact {
  color: goldenrod;
  margin-bottom: 16px;
  text-decoration: none;
  align-self: center;
  justify-content: center;
}

.contact-heading{
  align-self: center;
  align-content: center;
  justify-content: center;
  font-size: 70px;
  margin-bottom: 100px;
  text-decoration: none;
}

.contact-description {
  align-self: center;
  justify-content: center;

}


.contact-text {
  font-size: 35px;
  margin-left: 125px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: white;
}

.contact-list {
  list-style: none;
}

.forms-of-contact {
  font-size: 35px;
  margin-top: 50px;
  margin-left: 125px;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: center;
}


.GitHub-link:hover,
.LinkedIn-link:hover,
.Instagram-link:hover{
  color: white;
}

.GitHub-link,
.Instagram-link,
.LinkedIn-link{
  text-decoration: none;
  line-height: 50px;
}

.Email-list, .Phone-list{
  line-height: 50px;
}


/***********************
Images configuration
***********************/

.perfil-image {
  width: 500px;
  height: 500px;
  clip-path: circle(50% at 50% 50%);
}

.project-image {
  width: 250px;
  height: 250px;
}